<div class="container">
  <!-- <div class="row">
    <h1>{{ title }}</h1>
  </div> -->
  <div class="row">
      <!-- <div class="col-sm-12 col-md-8 offset-md-2 mt-3" *ngFor="let e of eventsJsonList"> -->
        <div class="col-sm-12 col-md-4 mt-3" *ngFor="let e of events">
          <div class="card">
            <p class="card-header text-white bg-dark">{{e.title}}</p>
            <div class="card-body">
              <img src="{{e.img}}" alt="Imagem de capa do card">
              <p class="mt-3"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{e.datefull}}</p>
              <p title="{{e.address}}"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;<strong>{{e.locationName}}</strong></p>
              <a href="{{e.url}}" class="btn btn-dark pgevento"><i class="fa fa-facebook-official" aria-hidden="true"></i> Página do evento</a>
            </div>
          </div>
      </div>
  </div>
  <br/>
</div>
<router-outlet></router-outlet>
