<div class="container">
  <!-- <div class="row">
    <h1>{{ title }}</h1>
  </div> -->
  <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
          <div class="card">
            <h5 class="card-header text-white bg-dark">LET'S GLOW! Party | Iluminação & Pintura NEON + Pistas Pop/Rock!</h5>
            <div class="card-body">
              <img src="https://scontent.fsdu5-1.fna.fbcdn.net/v/t15.5256-10/cp0/e15/q65/s320x320/66614097_2789323351082868_8932447913049587712_n.jpg?_nc_cat=105&_nc_oc=AQndwbRKUKdZYlZSD3iX6jyBwwFOBxZXb9OtkUJJodGp6v28dWzaqAmWJ4S1ALZBTXo&_nc_ht=scontent.fsdu5-1.fna&oh=30ee29fc04bfd54e2261c5a2b8474a47&oe=5DDDBCE8" alt="Imagem de capa do card">
              <p class="mt-3"><i class="fa fa-calendar" aria-hidden="true"></i> Sexta-feira, 16 de agosto de 2019 de 23:30 a 05:30 UTC-03</p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Casa da Matriz · 107  Rua Henrique de Novaes, 22281-050 Botafogo, Rio De Janeiro, Brazil</p>
              <a href="#" class="btn btn-dark"><i class="fa fa-facebook-official" aria-hidden="true"></i> Página do evento</a>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
          <div class="card">
            <h5 class="card-header text-white bg-dark">LET'S GLOW! Party | Iluminação & Pintura NEON + Pistas Pop/Rock!</h5>
            <div class="card-body">
              <img src="https://scontent.fsdu5-1.fna.fbcdn.net/v/t15.5256-10/cp0/e15/q65/s320x320/66614097_2789323351082868_8932447913049587712_n.jpg?_nc_cat=105&_nc_oc=AQndwbRKUKdZYlZSD3iX6jyBwwFOBxZXb9OtkUJJodGp6v28dWzaqAmWJ4S1ALZBTXo&_nc_ht=scontent.fsdu5-1.fna&oh=30ee29fc04bfd54e2261c5a2b8474a47&oe=5DDDBCE8" alt="Imagem de capa do card">
              <p class="mt-3"><i class="fa fa-calendar" aria-hidden="true"></i> Sexta-feira, 16 de agosto de 2019 de 23:30 a 05:30 UTC-03</p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Casa da Matriz · 107  Rua Henrique de Novaes, 22281-050 Botafogo, Rio De Janeiro, Brazil</p>
              <a href="#" class="btn btn-dark"><i class="fa fa-facebook-official" aria-hidden="true"></i> Página do evento</a>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
          <div class="card">
            <h5 class="card-header text-white bg-dark">LET'S GLOW! Party | Iluminação & Pintura NEON + Pistas Pop/Rock!</h5>
            <div class="card-body">
              <img src="https://scontent.fsdu5-1.fna.fbcdn.net/v/t15.5256-10/cp0/e15/q65/s320x320/66614097_2789323351082868_8932447913049587712_n.jpg?_nc_cat=105&_nc_oc=AQndwbRKUKdZYlZSD3iX6jyBwwFOBxZXb9OtkUJJodGp6v28dWzaqAmWJ4S1ALZBTXo&_nc_ht=scontent.fsdu5-1.fna&oh=30ee29fc04bfd54e2261c5a2b8474a47&oe=5DDDBCE8" alt="Imagem de capa do card">
              <p class="mt-3"><i class="fa fa-calendar" aria-hidden="true"></i> Sexta-feira, 16 de agosto de 2019 de 23:30 a 05:30 UTC-03</p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Casa da Matriz · 107  Rua Henrique de Novaes, 22281-050 Botafogo, Rio De Janeiro, Brazil</p>
              <a href="#" class="btn btn-dark"><i class="fa fa-facebook-official" aria-hidden="true"></i> Página do evento</a>
            </div>
          </div>
      </div>
  </div>
  <br/>
</div>
<router-outlet></router-outlet>
